body {
  font-size: 12px;
  font-family: Verdana, Georgia, Serif;
  background-color: #eee;
  color: black;
}

.card {
  display: none;
  position: absolute;
  padding: 5px;
  background: white;
  min-width: 150px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px #656565;
  text-align: center;
}

.photo {
  min-height: 175px;
  height: 175px;
  width: auto;
  border: 1px solid #ccc;
}

.name,
.duration {
  font-weight: bold;
}

.name {
  font-size: 20px;
}

.score,
.scorelbl {
  font-weight: bold;
  font-size: 12px;
}

.chart {
  shape-rendering: crispEdges;
  background-color: #eee;
  /*border : 1px solid red;*/
}

g.timeChart {
  font-size: 12px;
}

.team_tech {
  fill: #65ab49;
  stroke-width: 6;
  cursor: crosshair;
}

.team_business {
  fill: #3498db;
  stroke-width: 6;
  cursor: crosshair;
}

.team_admin {
  fill: #f3a412;
  stroke-width: 6;
  cursor: crosshair;
}

.team_com {
  fill: #8f49ab;
  stroke-width: 6;
  cursor: crosshair;
}

.team_integ {
  fill: #c74a35;
  stroke-width: 6;
  cursor: crosshair;
}

.team_presta {
  fill: #777;
  stroke-width: 6;
  cursor: crosshair;
}

.absciss_primary {
  stroke-width: 1;
  stroke: gray;
  opacity: 0.6;
}

.absciss_secondary {
  stroke-width: 1;
  stroke: lightgray;
  opacity: 0.6;
}

.absciss_now {
  stroke-width: 2;
  stroke: black;
}

.lineCounter {
  stroke-width: 2;
  stroke: #555;
}

.labelCounter {
  opacity: 0.5;
}
