body {
  font-size: 12px;
  font-family: Verdana, Georgia, Serif;
  background-color: #eee;
  color: black;
}

.card {
  display: none;
  position: absolute;
  padding: 10px;
  border: 1px solid black;
  background: #ddd;
  min-width: 150px;
}

.name, .duration {
  font-weight: bold;
}

.name {
  font-size: 20px;
}

.chart {
  shape-rendering: crispEdges;
  background-color: #eee;
  /*border : 1px solid red;*/
}

g.timeChart {
  font-size: 12px;
}

.team_tech {
  fill: #65AB49;
  stroke-width: 6;
  cursor : crosshair;
}

.team_business {
  fill: #3498db;
  stroke-width: 6;
  cursor : crosshair;
}

.team_admin {
  fill: #f39c12;
  stroke-width: 6;
  cursor : crosshair;
}

.team_com {
  fill: #8F49AB;
  stroke-width: 6;
  cursor : crosshair;
}

.absciss_primary {
  stroke-width: 1;
  stroke: gray;
  opacity: 0.6;
}

.absciss_secondary {
  stroke-width: 1;
  stroke: lightgray;
  opacity: 0.6;
}

.absciss_now {
  stroke-width: 2;
  stroke: black;
}

.lineCounter {
  stroke-width: 2;
  stroke: red;
}
